.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  color: var(--primary);
  gap: 1rem;
}

.conteiner svg {
  width: 6rem;
  height: 6rem;
}

.title {
  font-weight: bold;
  font-size: 4.2rem;
  text-transform: capitalize;
}
