.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--primary);
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  scale: 1.05;
}
